{% extends 'base.html' %} {% block head %}

<style>
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  body {
    font-family: "Uchen", serif;
    background-color: rgb(255, 255, 255);
  }

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  /* rtl:end:ignore */

  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -0.05rem;
  }

  #footer-text {
    position: relative;
    bottom: -350px;
    padding: 5px 15px;
    color: white;
  }
  #footer-text a {
    color: #ffca03;
    text-decoration: none;
  }
  /* footer {
    position: relative;
    top: -50px;
  } */

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
</style>

{% endblock head %} {% block content %} {% load static %}

<div class="container-fluid m-0 p-0">
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-label="Slide 1"
          aria-current="true"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class=""
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          class=""
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#5EE6EB"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Automated Note Maker</h1>
              <p>Make Your Online Lessons simple with Automated Note Maker</p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" href="#"
                  >Sign up today</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#5EE6EB"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption">
              <h1>Audio to PDF.</h1>
              <p>
                Basic Idea is to Convert voice based audio into word/ pdf format
              </p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" href="#"
                  >Learn more</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#5EE6EB"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good collections.</h1>
              <p>View all your Notes.</p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" href="#"
                  >Browse Collections</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 22rem; border: none; background-color: transparent;
          ">
            <img
              class="card-img-top"
              src="{% static 'images/circle1.png' %}"
              alt="Card image cap"
            />
            <h2 class="animate__animated animate__fadeInLeft animate__slow">
              "Helps professionals to take down notes with ease"
            </h2>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 22rem; border: none;background-color: transparent;
          ">
            <img
              class="card-img-top"
              src="{% static 'images/circle2.png' %}"
              alt="Card image cap"
            />
            <h2 class="animate__animated animate__fadeIn animate__delay-1s">
              "For Online lecture make simple notes"
            </h2>
          </div>
        </div>
        <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="card" style="width: 22rem; border: none;background-color: transparent;
            ">
              <img
                class="card-img-top"
                src="{% static 'images/circle3.png' %}"
                alt="Card image cap"
              />
              <h2 class="animate__animated animate__fadeInRight animate__slow">
                "Voice based PDF created"
              </h2>
            </div>
          </div>
          {% comment %}
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
          {% endcomment %}
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Organize your lectures.<span class="text-muted">
              It’ll blow your mind.</span
            >
          </h2>
          <p class="lead">
            To ensure you never forget what you have learnt, meet HexNotes, your
            personal notes maker. All of your learning materials and notes are
            collected in one location and are spaced apart. On your hand's palm
            are all of your lectures.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="{% static 'images/poster1.png' %}"
            alt="poster1"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
            width="500"
            height="500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">
            Oh yeah, it’s that good.
            <span class="text-muted">See for yourself.</span>
          </h2>
          <p class="lead">
            View all of your highlights and notes in a customized view that
            allows you to filter them. To make studying easier, edit your
            documents in the typeface or style that you choose.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
            src="{% static 'images/poster22.png' %}"
            alt="poster2"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
            width="500"
            height="500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            And lastly, this one. <span class="text-muted">Checkmate.</span>
          </h2>
          <p class="lead">
            After you've completed taking notes, you can print, export to PDF,
            or create a Word document with a custom layout. You can do the same
            for your generated summaries.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="{% static 'images/poster3.png' %}"
            alt="poster3"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded"
            width="500"
            height="500"
          />
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->
    <!-- FOOTER -->

    <footer class="container-fluid m-0 p-0">
      <div id="footer-text">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>
          © 2022–2023 HexNotes <a href="#">Privacy</a> ·
          <a href="#">Terms</a>&nbsp; All rights reserved &copy;
        </p>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#0099ff"
          fill-opacity="1"
          d="M0,192L17.1,197.3C34.3,203,69,213,103,181.3C137.1,149,171,75,206,58.7C240,43,274,85,309,112C342.9,139,377,149,411,133.3C445.7,117,480,75,514,85.3C548.6,96,583,160,617,181.3C651.4,203,686,181,720,176C754.3,171,789,181,823,192C857.1,203,891,213,926,218.7C960,224,994,224,1029,197.3C1062.9,171,1097,117,1131,122.7C1165.7,128,1200,192,1234,197.3C1268.6,203,1303,149,1337,117.3C1371.4,85,1406,75,1423,69.3L1440,64L1440,320L1422.9,320C1405.7,320,1371,320,1337,320C1302.9,320,1269,320,1234,320C1200,320,1166,320,1131,320C1097.1,320,1063,320,1029,320C994.3,320,960,320,926,320C891.4,320,857,320,823,320C788.6,320,754,320,720,320C685.7,320,651,320,617,320C582.9,320,549,320,514,320C480,320,446,320,411,320C377.1,320,343,320,309,320C274.3,320,240,320,206,320C171.4,320,137,320,103,320C68.6,320,34,320,17,320L0,320Z"
        ></path>
      </svg>
    </footer>
  </main>

  {% comment %}
  <img
    src="{% static 'images/note.svg' %}"
    alt="note"
    style="height: 50vh; margin-top: 50px"
    class="card-title"
  />
  <div>
    <h3 class="card-text">Automated Note Maker</h3>
    <p class="card-text">
      Welcome to {{Name}}, a tool for online lectures that enables students to
      take effective notes. {{Name}} respects initiative, zeal, and action. Our
      goal is to become the top worldwide platform for digital learning content
      through the integration of cutting-edge technology and best practises in
      order to democratise education and enable both teachers and students to
      realise their full potential. There is a need for the creation of software
      that will help you take notes while an online lecture is currently being
      delivered. This serious issue has been resolved by {{Name}}. Your online
      lectures can be easily converted into readable pdf, word, or text files
      with the help of {{Name}}.
    </p>
  </div>
  {% endcomment %}
</div>

{% endblock %}
