{% extends 'base.html' %} {% block head %}

<style>
  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
  body {
    font-family: "Uchen", serif;
    {% comment %} background-color: black; {% endcomment %}
  }

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  /* MARKETING CONTENT
-------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
  /* rtl:end:ignore */

  /* Featurettes
------------------------- */

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -0.05rem;
  }

  /* RESPONSIVE CSS
-------------------------------------------------- */

  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
</style>

{% endblock head %} {% block content %}
<!-- <div class="container mt-5">
    
    <div class="row">

        <div class="card" style="width: 18rem ; background-color: darksalmon;">
            <div class="card-body">
            <h5 class="card-title">Python Notes</h5>
            <p class="card-text">NumPy is a Python library used for working with arrays.
                It also has functions for working in domain of linear algebra, fourier transform, and matrices
                NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.
                NumPy stands for Numerical Python</p>
            <a href="#" class="btn btn-dark">read me</a>
            
        </div>
    </div>

        <div class="card ms-5" style="width: 18rem; background-color:deeppink;">
            <div class="card-body">
            <h5 class="card-title">Data Management Notes</h5>
            <p class="card-text">NumPy is a Python library used for working with arrays.
                It also has functions for working in domain of linear algebra, fourier transform, and matrices
                NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.
                NumPy stands for Numerical Python</p>
            <a href="#" class="btn btn-dark">read me</a>

    </div>
</div -->
{% load static %}

<div class="container-fluid m-0 p-0">
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-label="Slide 1"
          aria-current="true"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class=""
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          class=""
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#F5C6A5"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Automated Note Maker</h1>
              <p>Make Your Online Lessons simple with Automated Note Maker</p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" href="#"
                  >Sign up today</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#F5C6A5"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption">
              <h1>Audio to PDF.</h1>
              <p>
                Basic Idea is to Convert voice based audio into word/ pdf format
              </p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" href="#"
                  >Learn more</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#F5C6A5"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good collections.</h1>
              <p>View all your Notes.</p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" href="#"
                  >Browse Collections</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <svg
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 140x140"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#DEB6AB"></rect>
            <text x="50%" y="50%" fill="#AC7088" dy=".3em">140x140</text>
          </svg>

          <h2>"Helps professionals take down notes with ease"</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 140x140"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#DEB6AB"></rect>
            <text x="50%" y="50%" fill="#AC7088" dy=".3em">140x140</text>
          </svg>

          <h2>For Online lecture make simple notes</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 140x140"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#DEB6AB"></rect>
            <text x="50%" y="50%" fill="#AC7088" dy=".3em">140x140</text>
          </svg>

          <h2>Voice based PDf created</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <!-- START THE FEATURETTES -->
      {% load static %}

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Organize your lectures.<span class="text-muted">
              It’ll blow your mind.</span
            >
          </h2>
          <p class="lead">
            To ensure you never forget what you have learnt, meet HexNotes, your
            personal notes maker. All of your learning materials and notes are
            collected in one location and are spaced apart. On your hand's palm
            are all of your lectures.
          </p>
        </div>
        <div class="col-md-5">
          
          <img src="{% static 'images/banner.jpg' %}" alt="banner2" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" /> 
          {% comment %} <img src='{% static 'images/banner.jpg' %}' alt="banner"> {% endcomment %}
        
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">
            Oh yeah, it’s that good.
            <span class="text-muted">See for yourself.</span>
          </h2>
          <p class="lead">
            View all of your highlights and notes in a customized view that
            allows you to filter them. To make studying easier, edit your
            documents in the typeface or style that you choose.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"></rect>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            And lastly, this one. <span class="text-muted">Checkmate.</span>
          </h2>
          <p class="lead">
            After you've completed taking notes, you can print, export to PDF,
            or create a Word document with a custom layout. You can do the same
            for your generated summaries.
          </p>
        </div>
        <div class="col-md-5">
          <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"></rect>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->

    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>
        © 2022–2023 HexNotes <a href="#">Privacy</a> ·
        <a href="#">Terms</a>&nbsp; All rights reserved &copy;
      </p>
    </footer>
  </main>

  {% comment %}
  <img
    src="{% static 'images/note.svg' %}"
    alt="note"
    style="height: 50vh; margin-top: 50px"
    class="card-title"
  />
  <div>
    <h3 class="card-text">Automated Note Maker</h3>
    <p class="card-text">
      Welcome to {{Name}}, a tool for online lectures that enables students to
      take effective notes. {{Name}} respects initiative, zeal, and action. Our
      goal is to become the top worldwide platform for digital learning content
      through the integration of cutting-edge technology and best practises in
      order to democratise education and enable both teachers and students to
      realise their full potential. There is a need for the creation of software
      that will help you take notes while an online lecture is currently being
      delivered. This serious issue has been resolved by {{Name}}. Your online
      lectures can be easily converted into readable pdf, word, or text files
      with the help of {{Name}}.
    </p>
  </div>
  {% endcomment %}
</div>

{% endblock %}
