{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
  {% for note in notes %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row container">
    {% endif %}
        <div class="col" style="width: 22rem;">
          <!-- Code to display notes -->
          <div class="card m-2 notes" style="width: 22rem; height: 22rem;color: black;">
            <div class="card-body" >
              <h5 class="card-title"> {{note.title}} </h5>
              <div class="card-text"  style="height: 14rem;width: 20rem; overflow: scroll;line-height: 1.5;text-align: justify;">
                  <p class="m-3">{{note.text}}</p>
              </div>
              <a href="" class="btn btn-primary mt-3">Edit</a>
            </div>
          </div>
          <!-- Display Notes END -->
        </div>
    {% if forloop.counter|divisibleby:3 %}
      </div>
    {% endif %}
  {% endfor %}
  
{% endblock content %}