{% extends 'base.html'%}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/fontawesome.min.js"
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/conversion.css' %}">
<div class="container-fluid d-flex mt-5" style="align-items: center;justify-content:center;height:80vh;">
  <div class="container my-3 d-flex flex-center">
    <!-- WARNING: Do Not Touch -->
    <!-- Spinner -->
    <div id="during-convert" style="display: none;">
      <div class="spin-container">
        <div class="spin" id="loader"></div>
        <div class="spin" id="loader2"></div>
        <div class="spin" id="loader3"></div>
        <div class="spin" id="loader4"></div>
        <span id="text">CONVERTING...<br />This may take some time</span>
      </div>
    </div>
      <div>
        <div id="before-convert" class="container">
          <div class="row">
            <div class="col" style="width: 70%;">
              <img src="{% static '/images/hex22.png' %}" style="width:60%;margin-left: auto;" class="rounded float-start mt-5" alt="...">
            </div>
            <div class="col" style="width: 30%;position: relative;top: 100px;">
              <p> Need Help*
                <br> 
                Upload :
                Want to save your audio or video recording into easily readable notes? Simply choose the desired file type and upload the file from your device.
                <br>
                Convert :
                Uploaded the file? Next, merely click the convert button. This magical button transforms your audio or video file into your conveniently located note. Your note appears in an editor, allowing you to format it however you'd like. Adapt fonts, colours, and styles to your needs.</p>
            </div>
          </div>
          <form action="conversion" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sm">
              <div class="col-sm">
                <select required class="form-control" name="format" id="format">
                  <option value=""> Select Input Type </option>
                  <option selected value="file"> File </option>
                  <option value="url"> URL </option>
                </select>
              </div>
            <div class="col-sm">
              <div class="col-sm">
                <select required class="form-control" name="lang" id="lang">
                  <option value=""> Select Language </option>
                  <option selected value="en"> English </option>
                  <option value="hi-Latn"> Hindi </option>
                </select>
              </div>

              <div class="col-sm" style="width: 79vw;">
                <input type="file" class="form-control format-input" name="file" accept=".mp3, .mp4, .wav, .mkv">
                <input type="text" class="form-control format-input" name="url" style="display: none" placeholder="Enter Video URL">
              </div>
              <div class="col-sm">
                <button id="convert" type="submit" class="btn btn-primary p-2 ">Convert</button>
              </div>
            </div>
    
          </form>
        </div>
      
      

      
    </div>
  </div>
</div>
<script src="{% static 'js/conversion.js' %}" ></script>
{% endblock %}