{% extends 'base.html'%}
{% load static %} 
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/fontawesome.min.js" crossorigin="anonymous"></script>
<div class="container-fluid d-flex mt-4" style="align-items: center;justify-content:center;height:80vh;">
  <div class="container my-3 d-flex flex-center">
    <form action="conversion" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="{% static '/images/imagea.jpg' %}" style="width:80%" class="rounded float-start m-5" alt="...">
          </div>
          <div class="col" >
            <img src="{% static '/images/jaishree.jpg' %}" style="width:80%" class="rounded float-end" alt="...">
          </div>
        </div>
      

        <div class="row d-flex flex-center m-auto ">
          <div class="col-sm">
            <!-- <div class="col-lg-6"> -->
              <input type="file" class="form-control" id="filename" name="file" accept=".mp3, .mp4, .wav, .mkv" required>
            <!-- </div>         -->
          </div>
        </div>

        <div class="d-flex justify-content-center flex-center my-4 ">
          <button type="submit" class="btn btn-primary p-2 ">Convert</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% comment %} 
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"
></script> {% endcomment %}

{% endblock %}
