{% extends 'base.html' %}
{% block content %}

<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<style>
    .navbar {
        margin-bottom: 15px;
    }
	#editor {
		height: 75vh;
	}
	.ql-toolbar {
		background-color: rgb(200, 200, 200);
	}
	#download-btn:hover {
		background-color: aqua;
	}
	#fileName {
		padding-left: 5px;
		border-radius: 8px;
		box-shadow: none;
		border: none;
		border-bottom: 1px solid gray;
		outline: none;
	}
	#break {
		display: none;
	}
	@media screen and (max-width: 1154px) {
		#break {
			display: block;
			visibility: hidden;
			margin-top: 25px;
		}
		#editor {
			width: 85vw;
		}
		.ql-toolbar {
			width: 85vw;
		}
		#options {
			position: relative;
			left: -25%;
		}
	}
</style>
<!-- Create the editor container -->
<div class="container my-3 ">
	<div class="row">
		<div class="col-10">
			<div id="editor">
				<p> {{text}} </p>
			</div>
		</div>
		<hr id="break">
		<div id="options" class="col-2 mx-auto">
			<!-- <button type="button" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark">Primary</button> -->
				<!-- <select id="Myselect" class="form-select rounded-5 btn-outline-primary btn" aria-label="Default select example" > 
				  <option selected>Select File Type</option>
				  <option value="1">PDF</option>
				  <option value="2">Word</option>
				
				</select> -->
		
				<!-- <select id="Myselect" class="form-select rounded-5 border-2 btn mt-4" aria-label="Default select example" > 
					<option selected>Select page size</option>
					<option value="1">A3</option>
					<option value="2">A4</option>
				  
				  </select> -->
	  
				  <div class="dropdown mx-5">
					<button class="btn btn-primary dropdown-toggle mx" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
					  File Type
					</button>
					<ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="dropdownMenuButton2">
					  <li><a class="dropdown-item" onclick="changeType('pdf')">PDF</a></li>
					  <li><a class="dropdown-item" onclick="changeType('word')">Word</a></li>
					 
					</ul>
				  </div>

				  <div class="dropdown mt-4 mx-5">
					<button class="btn btn-primary dropdown-toggle mx" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
					  Page Size
					</button>
					<ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="dropdownMenuButton2">
					  <li><a class="dropdown-item" onclick="changePageSize('A3')" value="A3">A3</a></li>
					  <li><a class="dropdown-item" onclick="changePageSize('A4')" value="A4">A4</a></li>
					  <li><a class="dropdown-item" onclick="changePageSize('B1')" value="B1">B1</a></li>
					  <li><a class="dropdown-item" onclick="changePageSize('B2')" value="B2">B2</a></li>
					  <li><a class="dropdown-item" onclick="changePageSize('Executive')" value="Executive">Executive</a></li>
					  <li><a class="dropdown-item" onclick="changePageSize('Letter')" value="Letter">Letter</a></li>
					  <li><a class="dropdown-item" onclick="changePageSize('Legal')" value="Legal">Legal</a></li>
					</ul>
					<br />
				  </div>
				  <div>
					<input id="fileName" type="name" placeholder="Enter FileName to Save"/>
				  </div>

				  <!-- Download Button -->
				  <svg viewBox='0 0 100 50' width='300' height='100' fill='none' >
					<circle id="download" cx='20'cy='35' r='15' fill='#0AA1DD' class='mainCircle' style="cursor: pointer;"></circle>
					<!-- <circle cx='20' cy='35' r='15' stroke='#0AA1DD' stroke-width='.9' fill='url(#gradient)' class='mainCircleFill'></circle> -->
					<!-- <rect x='17.5' y='32.5' width='5' height='5' stroke='none' fill='#0AA1DD' class='rect'></rect> -->
					<path id="download-btn" d='M20,39 l3.5,-3.5 l0,0 M20,39 l-3.5,-3.5 l0,0 M20,39 l0,-7.5' stroke='#fff' stroke-linecap='round' stroke-width='.8' class='arrow' style="cursor: pointer;"></path>
					<!-- <text x='55' y='36.5' fill='#0A1931' text-anchor='middle' font-size='6' font-family='Trirong' font-style='bold' letter-spacing='.2' class='text'>Download</text>
					<path d='M50,25 h30 a10,10 0 0,1 10,10 a10,10 0 0,1 -10,10 s-30,0 -60,0 a10,10 0 0,1 -10,-10 a10,10 0 0,1 10,-10 h30' stroke='#0AA1DD' stroke-width='.7' fill='transparent' class='btn'></path>
					<circle cx='20' cy='35' r='7.9' fill='#0AA1DD' fill-opacity='0' stroke='#0AA1DD' stroke-width='1.6' stroke-opacity='0' class='subCircle'></circle>
					<circle cx='50' cy='26' r='0' fill='#0AA1DD' class='dot'></circle>
					<linearGradient id='gradient' x1='0%' y1='0%' x2='0%' y2='100%'>
					<stop offset='98%' class='gradient' stop-color='transparent'/>
					<stop offset='98%' class='gradient' stop-color='#00afd3'/>
					</linearGradient> -->
				</svg>
		</div>
		
	</div>
	
</div>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Includes KaTex -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>

<!-- Initialize Quill editor -->
<script>
      // Custom Added
      var toolbarOptions = [
			  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
			  ['blockquote', 'code-block', 'formula'],

			  // [{ 'header': 1 }, { 'header': 2 }],               // custom button values
			  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
			  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
			  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
			  [{ 'direction': 'rtl' }],                         // text direction

			  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
			  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

			  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
			  [{ 'font': [] }],
			  [{ 'align': [] }],

			  ['link', 'image', 'video'],
			  ['clean']                                         // remove formatting button
			];
var quill = new Quill('#editor', {
			  modules: {
				toolbar: toolbarOptions,
			  },
			  placeholder: 'Type Your Notes here...',
			  theme: 'snow',  // or 'bubble'
			  // scrollingContainer: 'auto',
			});
            $("#toolbar").append($(".ql-toolbar"));
</script>

<!-- Download Option -->
<script>
	var type = "pdf";
	var pageSize = "A4";

	var downloadBtn = document.getElementById('download');
	downloadBtn.addEventListener('click', () => {
		var textHtml = document.getElementsByClassName('ql-editor')[0].innerHTML;
		let output = fileName.value
		$.ajax({
			type: "POST",
			data: {
				csrfmiddlewaretoken: '{{csrf_token}}',
				text: textHtml,
				fileType: type,
				pageSize: pageSize,
				file_name: output
			}
		});
	});

	// Changes File Type
	function changeType(newType) {
		type = newType
	}
	function changePageSize(newPageSize) {
		pageSize = newPageSize
	}
	// var downloadArrow = document.getElementById('download-btn');
	// downloadArrow.addEventListener('click', () => {
	// 	console.log("Clicked!")
	// });
</script>

{% endblock %}