{% extends 'base.html' %} {% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock head %} {% block content %} {% load static %}

<div class="container-fluid m-0 p-0">
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" >
            <rect width="100%" height="100%" fill="#ff725e"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Automated Note Maker</h1>
              <p>Make Your Online Lessons simple with Automated Note Maker</p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Sign up today</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" >
            <rect width="100%" height="100%" fill="#5EE6EB"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption ">
              <h1>Audio to PDF.</h1>
              <p>
                Basic Idea is to Convert voice based audio into word/ pdf format
              </p>
              <p>
                <a class="btn btn-lg btn-outline-secondary" bs-data-target="#more-text" >Learn more</a>
              </p>
            </div>
          </div>
        </div>



        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" >
            <rect width="100%" height="100%" fill="#5EE6EB"></rect>
          </svg>

          <div class="container">
            <div class="carousel-caption text-end">
              <h1>One more for good collections..</h1>
              <p>
                View all your Notes.
              </p>
              {% if user.is_authenticated %}
              <p>
                <a class="btn btn-lg btn-outline-secondary" bs-data-target="#more-text" href="{% url 'collections' %}">Browse Collections</a>
              </p>
              {% else %}
              <p>
                <a class="btn btn-lg btn-outline-secondary" bs-data-target="#more-text" data-bs-toggle="modal" data-bs-target="#loginModal">Browse Collections</a>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
        
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 22rem; border: none; background-color: transparent; ">
            <img class="card-img-top" src="{% static 'images/circle1.png' %}" alt="Card image cap" />
            <h2 class="animate__animated animate__fadeInLeft animate__slow">
              "Helps professionals to take down notes with ease"
            </h2>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 22rem; border: none;background-color: transparent;">
            <img class="card-img-top" src="{% static 'images/circle2.png' %}" alt="Card image cap" />
            <h2 class="animate__animated animate__fadeIn animate__delay-1s">
              "For Online lecture make simple notes"
            </h2>
          </div>
        </div>
        <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="card" style="width: 22rem; border: none;background-color: transparent;">
              <img class="card-img-top" src="{% static 'images/circle3.png' %}" alt="Card image cap"
              />
              <h2 class="animate__animated animate__fadeInRight animate__slow">
                "Voice based PDF created"
              </h2>
            </div>
          </div>
        </div>
      </div>
      

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />
      <div class="container" id="more-text">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Organize your lectures.<span class="text-muted">  It’ll blow your mind.</span></h2>
            <p class="lead"> To ensure you never forget what you have learnt, meet HexNotes, your personal notes maker. All of your learning materials and notes are collected in one location and are spaced apart. On your hand's palm are all of your lectures. </p>
          </div>
          <div class="col-md-5">
            <img src="{% static 'images/poster1.png' %}" alt="poster1" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded" width="500" height="500" />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading"> Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span> </h2>
            <p class="lead"> View all of your highlights and notes in a customized view that allows you to filter them. To make studying easier, edit your documents in the typeface or style that you choose. </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="{% static 'images/hex11.png' %}" alt="poster2" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded" width="500" height="500" />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"> And lastly, this one. <span class="text-muted">Checkmate.</span> </h2>
            <p class="lead"> After you've completed taking notes, you can print, export to PDF, or create a Word document with a custom layout. You can do the same for your generated summaries. </p>
          </div>
          <div class="col-md-5">
            <img src="{% static 'images/poster3.png' %}" alt="poster3" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded" width="500" height="500" />
          </div>
        </div>
        <hr class="featurette-divider" />
        <!-- /END THE FEATURETTES -->
      </div>
    </div>
  </main>
</div>
<a href="#"> Back To Top </a>
{% endblock %}
